.text-field-input {
  border: 1px solid var(--neutral-color-3);
  border-radius: var(--border-radius-1);
  padding: var(--spacing-4);
  width: 100%;
  transition: border-color .2s;

  :global([data-theme-dark]) & {
    border-color: var(--neutral-color-4);
  }

  &:focus-visible {
    border-color: var(--primary-color-2);
  }

  &::placeholder {
    color: var(--neutral-color-3);

    :global([data-theme-dark]) & {
      color: var(--neutral-color-5);
    }
  }

  &::-webkit-contacts-auto-fill-button {
    transition: background-color .2s;
    
    :global([data-theme-dark]) & {
      background-color: var(--neutral-color-1);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color-2);
      }
    }
  }
}