@import '@/styles/mixins';

.table-icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--neutral-color-3);
  border-radius: 4px;
  padding: var(--spacing-3);
  background-image: var(--neutral-gradient-1);
  box-shadow: var(--box-shadow-1);
  transition-property: transform, filter;
  transition-duration: .2s;
  will-change: transform, filter;

  @media (hover: hover) {
    &:hover {
      filter: brightness(.95);
    }
  }

  &:active {
    transform: scale(.96);
    filter: brightness(.9);
  }

  &:focus-visible {
    @include focus-styles;
  }
}