.table-icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--neutral-color-3);
  border-radius: var(--border-radius-1);
  padding: var(--spacing-3);
  background-image: var(--neutral-gradient-1);
  box-shadow: var(--box-shadow-1);
  transition-property: border-color, transform, filter;
  transition-duration: .2s;
  will-change: transform, filter;

  :global([data-theme-dark]) & {
    border-color: var(--primary-color-4);
    background-image: var(--primary-gradient-4);
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(.95);

      :global([data-theme-dark]) & {
        border-color: var(--neutral-color-1);
      }
    }
  }

  &:active {
    transform: scale(.96);
    filter: brightness(.9);
  }

  &:focus-visible {
    @include focus-styles;
  }
}