@import '@/styles/mixins.scss';

.table-icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebf3;
  border: 1px solid #d6d6e7;
  border-radius: 4px;
  padding: 8px;
  background-color: #f5f5fa;
  background-image: linear-gradient(to bottom, #fff, #f5f5fa);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  transition: filter .2s;
  will-change: filter;

  @media (hover: hover) {
    &:hover {
      filter: brightness(.95);
    }
  }

  &:active {
    filter: brightness(.9);
  }

  &:focus-visible {
    @include focus-styles;
  }
}