.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--text-spacing-2);
  border-radius: var(--border-radius-1);
  padding: var(--spacing-4) var(--spacing-6);
  box-shadow: var(--box-shadow-1);
  transition-property: border-color, transform, filter;
  transition-duration: .2s;
  will-change: transform, filter;
  
  &.color-primary {
    border: 1px solid var(--primary-color-3);
    background-image: var(--primary-gradient-1);
    color: var(--neutral-color-1);

    :global([data-theme-dark]) & {
      border-color: var(--primary-color-3);
    }
  }

  &.color-secondary {
    border: 1px solid var(--neutral-color-3);
    background-image: var(--neutral-gradient-1);
    color: var(--neutral-color-6);

    :global([data-theme-dark]) & {
      border-color: var(--primary-color-3);
      background-image: var(--primary-gradient-4);
      color: var(--neutral-color-1);
    }
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(.95);

      &.color-primary {
        :global([data-theme-dark]) & {
          border-color: var(--neutral-color-1);
        }
      } 

      &.color-secondary {
        :global([data-theme-dark]) & {
          border-color: var(--neutral-color-1);
        }
      } 
    }
  }

  &:active {
    transform: scale(.96);
    filter: brightness(.9);
  }

  &:focus-visible {
    @include focus-styles;
  }
}