.table-wrapper {
  border: 1px solid var(--neutral-color-3);
  border-radius: var(--border-radius-2);
  background-color: var(--neutral-color-1);
  box-shadow: var(--box-shadow-1);
	overflow: auto;
  white-space: nowrap;

  :global([data-theme-dark]) & {
    border-color: var(--primary-color-4);
    background-color: var(--primary-color-6);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
