.body {
  margin: 0 auto;
	padding: 80px 24px 3em;
	max-width: 75em;
	min-height: 100vh;
	min-height: 100dvh;
	background-color: #fcfcfd;
	color: #23263b;
	font-feature-settings: 'tnum';
	font-variant-numeric: tabular-nums;
}