.body {
  margin: 0 auto;
	padding: 80px 24px em(48px);
	max-width: em(1200px);
	min-height: 100vh;
	min-height: 100dvh;
	background-color: var(--neutral-color-2);
	color: var(--neutral-color-6);
	font-feature-settings: 'tnum';
	font-variant-numeric: tabular-nums;

	:global([data-theme-dark]) & {
		background-color: #003;
		color: var(--neutral-color-1);
	}
}
