.body {
  margin: 0 auto;
	padding: 80px 24px 3em;
	max-width: 75em;
	min-height: 100vh;
	min-height: 100dvh;
	background-color: var(--neutral-color-2);
	color: var(--neutral-color-4);
	font-feature-settings: 'tnum';
	font-variant-numeric: tabular-nums;
}