.table-row {
	background-color: #fff;
	transition: background-color .2s;

	&:not(:last-child) {
		border-bottom: 1px solid #f5f5fa;
	}

	@media (hover: hover) {
		&:hover {
			background-color: #f5f5fa;
		}
	}
}