.table-row {
	background-color: var(--neutral-color-1);
	transition: background-color .2s;

	&:not(:last-child) {
		border-bottom: 1px solid var(--neutral-color-2);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--neutral-color-2);
		}
	}
}