.table-row {
	background-color: var(--neutral-color-1);
	transition: background-color .2s;

	:global([data-theme-dark]) & {
		background-color: var(--primary-color-6);
	}

	&:not(:last-child) {
		border-bottom: 1px solid var(--neutral-color-2);

		:global([data-theme-dark]) & {
			border-color: var(--primary-color-5);
		}
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--neutral-color-2);

			:global([data-theme-dark]) & {
				background-color: var(--primary-color-5);
			}
		}
	}
}