.modal {
  border: 1px solid var(--neutral-color-3);
  border-radius: var(--border-radius-2);
  padding: var(--spacing-10);
  min-width: 360px;
  box-shadow: var(--box-shadow-1);

  :global([data-theme-dark]) & {
    border-color: var(--primary-color-3);
    background-color: #003;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / .6);
  }
}

.modal-title {
  margin-bottom: var(--spacing-6);
}

.modal-buttons-container {
  display: flex;
  column-gap: var(--spacing-3);
  margin-top: var(--text-spacing-10);
}