.modal {
  border: 1px solid #d6d6e7;
  border-radius: 8px;
  min-width: 360px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);

  &::backdrop {
    background-color: rgb(0 0 0 / .5);
  }
}

.modal-title {
  margin-bottom: .25em;
}

.modal-buttons-container {
  display: flex;
  column-gap: 8px;
  margin-top: 1em;
}