:root {
  --neutral-color-1: #fff;
  --neutral-color-2: #f5f5fa;
  --neutral-color-3: #d6d6e7;
  --neutral-color-4: #23263b;

  --primary-color-1: #003dff;
  --primary-color-2: #022eb9;
  --primary-color-3: #042077;
}