:root {
  --neutral-color-1: #fff;
  --neutral-color-2: #f5f5fa;
  --neutral-color-3: #d6d6e7;
  --neutral-color-4: #777aaf;
  --neutral-color-5: #36395a;
  --neutral-color-6: #23263b;

  --primary-color-1: #bbd1ff;
  --primary-color-2: #003dff;
  --primary-color-3: #022eb9;
  --primary-color-4: #042077;
  --primary-color-5: #021055;
  --primary-color-6: #003;

  --danger-color-1: #ee243c;
  --danger-color-2: #d4142a;
  --danger-color-3: #ab1325;

  --modal-backdrop-color: rgb(0 0 0 / .6);
}

:root[data-theme-dark] {
  color-scheme: dark;
}