:root {
	--font-family-heading: 'Sora', var(--font-family-fallback);
	--font-family-body: 'Inter', var(--font-family-fallback);
	--font-family-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Open Sans', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
	font-family: var(--font-family-body);
}

.heading-1,
.heading-2 {
	background-image: var(--primary-gradient-3);
	background-clip: text;
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-semi-bold);
	color: transparent;

	[data-theme-dark] & {
		background-image: var(--neutral-gradient-2);
	}

	&.heading-1 {
		font-size: responsive-font-size(20px, 24px);
	}

	&.heading-2 {
		font-size: responsive-font-size(16px, 20px);
	}
}