:root {
	--font-family-heading: 'Sora', var(--font-family-fallback);
	--font-family-body: 'Inter', var(--font-family-fallback);
	--font-family-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Open Sans', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
	font-family: var(--font-family-body);
}

.heading-1 {
	background-image: linear-gradient(to bottom, #23263b, #042077);
	background-clip: text;
	font-family: var(--font-family-heading);
	font-size: responsive-font-size(1.25em, 1.5em);
	font-weight: var(--font-weight-semi-bold);
	color: transparent;
}

.heading-2 {
	background-image: linear-gradient(to bottom, #23263b, #042077);
	background-clip: text;
	font-family: var(--font-family-heading);
	font-size: responsive-font-size(1em, 1.25em);
	font-weight: var(--font-weight-semi-bold);
	color: transparent;
}
